<!-- Footer -->

    <footer class="iq-footer-03 white-bg iq-ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="footer-copyright iq-pt-10">Copyright @ <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#" class="text-green">Appino.</a> All Rights Reserved </div>
                </div>
                <div class="col-sm-6">
                    <ul class="info-share">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!--  END -->

</div>

    <!-- back-to-top -->
    
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-upload-outline"></i> </a>
    </div>

    <!-- back-to-top End -->


 


    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!-- owl-carousel -->
    <script type="text/javascript" src="js/owl-carousel/owl.carousel.min.js"></script>

    <!-- Counter -->
    <script type="text/javascript" src="js/counter/jquery.countTo.js"></script>

    <!-- Jquery Appear -->
    <script type="text/javascript" src="js/jquery.appear.js"></script>

    <!-- Magnific Popup --> 
    <script type="text/javascript" src="js/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Retina -->
    <script type="text/javascript" src="js/retina.min.js"></script>

    <!-- wow -->
    <script type="text/javascript" src="js/wow.min.js"></script>

    <!-- Skrollr --> 
    <script type="text/javascript" src="js/skrollr.min.js"></script>

    <!-- Countdown -->
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- Style Customizer --> 
    <script type="text/javascript" src="js/style-customizer.js"></script> 

    <!-- Custom -->
    <script type="text/javascript" src="js/custom.js"></script>

</body>

</html>