<% include ./partials/header %>


<!--======= intro =======-->
 
<section class="iq-breadcrumb overview-block-pt text-center iq-bg iq-bg-fixed iq-over-black-90 iq-box-shadow" style="background: url(images/about/04.jpg);" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-title iq-breadcrumb-title iq-mtb-100">
                        <h1 class="title iq-tw-8 iq-font-white"><span>404</span> ERROR</h1>
                        <div class="divider white"></div>
                    </div>
                <ul class="breadcrumb">
                    <li><a href="index.html"><i class="ion-home"></i> Home</a></li>
                    <li class="active">404 Error</li>
                </ul>
            </div>
        </div>
    </div>
</section>
  
<!--======= End intro =======-->
<div class="main-content">
    <section class="iq-error overview-block-ptb text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="big-text iq-tw-7">404</div>
                    <h3 class="iq-font-light iq-tw-6 iq-mtb-10">Oops! This Page is Not Found</h3>
                    <h6 class="iq-tw-6 iq-font-white iq-pall-10">Please go back to home and try to find out once again.</h6>
                    <form class="form-inline iq-subscribe iq-mtb-60">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter Your Email Here">
                        </div>
                        <a class="button iq-ml-25" href="#">subscribe</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
  
    <div class="footer">
    

 <% include ./partials/footer %>