<% include ./partials/header %>

<!-- Banner -->
 
    <section id="iq-home" class="banner-03 iq-bg iq-bg-fixed iq-box-shadow iq-over-black-80" style=" background: url(images/banner/bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="iq-font-white iq-tw-8 text-center">FUSZKA<small class="iq-font-white iq-tw-6"><b class="iq-font-white">&#9679;</b> slogan reklamowy</small></h1>
                    <div class="iq-mobile-app text-center">
                        <div class="iq-mobile-box">
                            <img class="iq-mobile-img" src="images/banner/02.png" alt="#">
                            <span data-depth="0.8" class="layer iq-mobile-icon icon-01" data-bottom="transform:translateX(50px)" data-top="transform:translateX(-100px);">
                                <img src="images/banner/04.png" alt="#">
                            </span>
                            <span data-depth="0.8" class="layer iq-mobile-icon icon-02" data-bottom="transform:translateX(100px)" data-top="transform:translateX(0px);">
                                <img src="images/banner/05.png" alt="#">
                            </span>
                            <span data-depth="0.8" class="layer iq-mobile-icon icon-03" data-bottom="transform:translateX(-50px)" data-top="transform:translateX(40px);">
                                <img src="images/banner/06.png" alt="#">
                            </span>
                            <span data-depth="0.8" class="layer iq-mobile-icon icon-04" data-bottom="transform:translateX(-30px)" data-top="transform:translateX(0px);">
                                <img src="images/banner/07.png" alt="#">
                            </span>
                            <span data-depth="0.8" class="layer iq-mobile-icon icon-05" data-bottom="transform:translateX(0px)" data-top="transform:translateX(-50px);">
                                <img src="images/banner/08.png" alt="#">
                            </span>
                        </div>
                    </div>
                    <div class="link">
                        <h5 class="iq-font-white" data-animation="animated fadeInLeft">Pobierz aplikację</h5>
                        <ul class="list-inline" data-animation="animated fadeInUp">
                            <li><a href="#"><i class="ion-social-apple"></i></a></li>
                            <li><a href="#"><i class="ion-social-android"></i></a></li>
                        </ul>

                        <p class="iq-font-white iq-mt-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Banner End -->



<div class="main-content">
    <!-- Feature -->

    <section class="overview-block-ptb iq-mt-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">jakieś elementy aplikacji</h2>
                        <div class="divider"></div>
                        <p>Główny opis apki </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="iq-fancy-box-03 text-left">
                        <i aria-hidden="true" class="ion-ios-pie-outline iq-font-blue"></i>
                        <h4 class="iq-tw-6">Easy To use <span class="iq-font-blue">.</span></h4>
                        <div class="info-03">
                            <p>Ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 re7-mt-30">
                    <div class="iq-fancy-box-03 text-left">
                        <i aria-hidden="true" class="ion-ios-color-filter-outline iq-font-blue"></i>
                        <h4 class="iq-tw-6">Awesome Design <span class="iq-font-blue">.</span></h4>
                        <div class="info-03">
                            <p>Dadolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore madolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 re7-mt-30">
                    <div class="iq-fancy-box-03 text-left">
                        <i aria-hidden="true" class="ion-ios-gear-outline iq-font-blue"></i>
                        <h4 class="iq-tw-6">Unlimited Features <span class="iq-font-blue">.</span></h4>
                        <div class="info-03">
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Feature END -->

<hr>

    <!-- About Our App -->

    <section id="about" class="iq-about-03 overview-block-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title iq-mb-20">
                        <h2 class="title iq-tw-6">O nas</h2>
                        <div class="divider"></div>
                        <div class="center-block iq-pt-30">
                            <span class="lead iq-tw-6">This Appino application delivers the most trusted services for your bussiness to succeed in the global app environment.</span>
                        </div>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <div class="btn-group iq-mt-40" role="group" aria-label="">
                  <a class="button iq-mr-15" href="# "> <i class="ion-social-apple"></i> App Store</a>
                  <a class="button iq-mr-15" href="# "> <i class="ion-social-android"></i> Play Store</a>
                </div>
               
            </div>
        </div>
    </div>
    </section>

    <!-- About Our App END -->


    <!-- About Our App -->

    <section id="features" class="overview-block-ptb iq-about-1 grey-bg">
        <div class="container">
            <div class="row iq-mt-20">
                <div class="col-sm-12 col-md-6 col-lg-6 iq-mt-30 popup-gallery">
                    <h2 class="heading-left iq-tw-6 iq-mt-40">How It Work?</h2>
                    <div class="lead iq-tw-7 iq-mb-20">Appino is available with new technology and new creative ideas, which works with high resolutions. There is many more features available with different and unique work.</div>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,naking this the first true generatoron the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                   <div class="btn-group iq-mt-40" role="group" aria-label="">
                  <a class="button popup-youtube" href="video/01.mp4" >Watch Video Demo</a>
                </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img class="img-responsive center-block" src="images/01.png" alt="#">
                </div>
            </div>
        </div>
    </section>

    <!-- About Our App END -->


    <!-- Special Features -->

    <section id="features" class="overview-block-ptb iq-amazing-tab white-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Special Features</h2>
                        <div class="divider"></div>
                        <p>Appino is launch with everything you need. We've got a lot of amaing and cool features. so here we go,  with unlimited features. go and check out!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active wow fadeInLeft" data-wow-duration="1s">
                            <a class="round-right" href="#design" aria-controls="design" role="tab" data-toggle="tab">
                                <div class="iq-fancy-box-01 text-right">
                                    <i aria-hidden="true" class="ion-ios-checkmark-outline"></i>
                                    <h4 class="iq-tw-6">Responsive Design</h4>
                                    <div class="fancy-content-01">
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing sed do eiusmod empor incididunt</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="wow fadeInLeft" data-wow-duration="1s" >
                            <a class="round-right" href="#resolution" aria-controls="resolution" role="tab" data-toggle="tab">
                                <div class="iq-fancy-box-01 text-right">
                                    <i aria-hidden="true" class="ion-ios-color-wand-outline"></i>
                                    <h4 class="iq-tw-6">Easy to Use</h4>
                                    <div class="fancy-content-01">
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing sed do eiusmod empor incididunt</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="wow fadeInLeft" data-wow-duration="1s">
                            <a class="round-right" href="#ready" aria-controls="ready" role="tab" data-toggle="tab">
                                <div class="iq-fancy-box-01 text-right">
                                    <i aria-hidden="true" class="ion-ios-copy-outline"></i>
                                    <h4 class="iq-tw-6">Well Documentation</h4>
                                    <div class="fancy-content-01">
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing sed do eiusmod empor incididunt</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-center hidden-sm hidden-xs">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="design"><img src="images/screenshots/01.jpg" class="img-responsive center-block" alt="#"></div>
                        <div role="tabpanel" class="tab-pane" id="resolution"><img src="images/screenshots/02.jpg" class="img-responsive center-block" alt="#"></div>
                        <div role="tabpanel" class="tab-pane" id="ready"><img src="images/screenshots/03.jpg" class="img-responsive center-block" alt="#"></div>
                        <div role="tabpanel" class="tab-pane" id="fertures"><img src="images/screenshots/04.jpg" class="img-responsive center-block" alt="#"></div>
                        <div role="tabpanel" class="tab-pane" id="face"><img src="images/screenshots/05.jpg" class="img-responsive center-block" alt="#"></div>
                        <div role="tabpanel" class="tab-pane" id="codes"><img src="images/screenshots/06.jpg" class="img-responsive center-block" alt="#"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="wow fadeInRight" data-wow-duration="1s">
                            <a href="#fertures" aria-controls="fertures" role="tab" data-toggle="tab">
                                <div class="iq-fancy-box-01">
                                    <i aria-hidden="true" class="ion-ios-photos-outline"></i>
                                    <h4 class="iq-tw-6">Perfect Showcase</h4>
                                    <div class="fancy-content-01">
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing sed do eiusmod empor incididunt</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="wow fadeInRight" data-wow-duration="1s">
                            <a href="#face" aria-controls="face" role="tab" data-toggle="tab">
                                <div class="iq-fancy-box-01">
                                    <i aria-hidden="true" class="ion-ios-heart-outline"></i>
                                    <h4 class="iq-tw-6">Unlimited Features</h4>
                                    <div class="fancy-content-01">
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing sed do eiusmod empor incididunt</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="wow fadeInRight" data-wow-duration="1s">
                            <a href="#codes" aria-controls="codes" role="tab" data-toggle="tab">
                                <div class="iq-fancy-box-01">
                                    <i aria-hidden="true" class="ion-ios-plus-outline"></i>
                                    <h4 class="iq-tw-6">And Many More</h4>
                                    <div class="fancy-content-01">
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing sed do eiusmod empor incididunt</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Special Features END -->


    <!-- App Screenshots -->

    <section id="screenshots" class="iq-app iq-bg iq-bg-fixed iq-font-white" style="background: url(images/banner/bg.jpg);" >
        <div class="container-fluid">
            <div class="row row-eq-height">
                <div class="col-md-6 text-left iq-ptb-80 green-bg">
                <div class="iq-app-info">
                    <h2 class="heading-left iq-font-white white iq-tw-6 ">App Screenshots</h2>
                    <div class="lead iq-tw-6 iq-mb-20">Appino is here with its best screenshot, from this photo gallery you can get idea about this application.</div>
                    <h4 class="iq-mt-50 iq-font-white iq-tw-6 iq-mb-15">Awesome Design</h4>
                    <p class="">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, Lorem Ipsum is simply dummy text of the printing and typesetting indus</p>
                </div>
                </div>
                <div class="col-md-6 iq-app-screen iq-ptb-80">
                    <div class="home-screen-slide">
                        <div class="owl-carousel popup-gallery" data-nav-dots="true" data-nav-arrow="false" data-items="3" data-sm-items="3" data-lg-items="3" data-md-items="2" data-autoplay="false">
                            <div class="item"><a href="images/screenshots/01.jpg" class="popup-img"><img class="img-responsive" src="images/screenshots/01.jpg" alt="#"></a></div>
                            <div class="item"><a href="images/screenshots/02.jpg" class="popup-img"><img class="img-responsive" src="images/screenshots/02.jpg" alt="#"></a></div>
                            <div class="item"><a href="images/screenshots/03.jpg" class="popup-img"><img class="img-responsive" src="images/screenshots/03.jpg" alt="#"></a></div>
                            <div class="item"><a href="images/screenshots/04.jpg" class="popup-img"><img class="img-responsive" src="images/screenshots/04.jpg" alt="#"></a></div>
                            <div class="item"><a href="images/screenshots/05.jpg" class="popup-img"><img class="img-responsive" src="images/screenshots/05.jpg" alt="#"></a></div>
                            <div class="item"><a href="images/screenshots/06.jpg" class="popup-img"><img class="img-responsive" src="images/screenshots/06.jpg" alt="#"></a></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- App Screenshots END -->


    <!-- The Appino Great Feature -->

    <section class="overview-block-ptb white-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Funkcjonalnosci aplikacji</h2>
                        <div class="divider"></div>
                        <p>We've been working really hard to improve the appino with this amazing new features that you aked for! Check out the appino’s new amazing features.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="iq-fancy-box-02 iq-shadow text-center iq-mb-60">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-ios-checkmark-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Responsive Design</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="iq-fancy-box-02 iq-shadow text-center iq-mb-60">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-ios-color-wand-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Easy to Use</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="iq-fancy-box-02 iq-shadow text-center iq-mb-60">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-ios-copy-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Well Documentation</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="iq-fancy-box-02 iq-shadow text-center">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-ios-photos-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Perfect Showcase</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="iq-fancy-box-02 iq-shadow text-center">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-ios-heart-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Unlimited Features</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="iq-fancy-box-02 iq-shadow text-center">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-ios-plus-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">And Many More</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- The Appino Great Feature END -->


 
</div>

<div class="footer">

    <!-- full-contact -->

      <section id="contact-us" class="iq-full-contact grey-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="iq-get-in iq-pall-40 grey-bg">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="heading-title iq-mb-60">
                                            <h2 class="title iq-tw-6">Kontakt</h2>
                                            <div class="divider"></div>
                                            <p>Do you have a question for us? we'd love to here from you and we would be happy to answer your questions. Reach out to us and we'll respond as soon as we can.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="formmessage">Success/Error Message Goes Here</div>
                                    <form class="form-horizontal" id="contactform" method="post" action="../php/contact-form.php">
                                        <div class="contact-form">
                                            <div class="col-sm-6">
                                                <div class="section-field">
                                                    <input id="name" type="text" placeholder="Imie" name="name">
                                                </div>
                                                <div class="section-field">
                                                    <input type="email" placeholder="Email" name="email">
                                                </div>
                                                <div class="section-field">
                                                    <input type="text" placeholder="Telefon" name="phone">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="section-field textarea">
                                                    <textarea class="input-message" placeholder="Komentarz" rows="7" name="message"></textarea>
                                                </div>
                                                <input type="hidden" name="action" value="sendEmail" />
                                                <button id="submit" name="submit" type="submit" value="Send" class="button pull-right iq-mt-40">Wyślij</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div id="ajaxloader" style="display:none"><img class="center-block mt-30 mb-30" src="images/ajax-loader.gif" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="container">
            <div class="row iq-ptb-80">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="iq-fancy-box-04">
                        <div class="iq-icon green-bg">
                            <i aria-hidden="true" class="ion-ios-location-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6">Address</h5>
                            <span class="lead iq-tw-6">1234 North Luke Lane, South Bend,IN 360001</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="iq-fancy-box-04">
                        <div class="iq-icon green-bg">
                            <i aria-hidden="true" class="ion-ios-telephone-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6">Phone</h5>
                            <span class="lead iq-tw-6">+0123 456 789</span>
                            <p class="iq-mb-0">Mon-Fri 8:00am - 8:00pm</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="iq-fancy-box-04">
                        <div class="iq-icon green-bg">
                            <i aria-hidden="true" class="ion-ios-email-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6">Mail</h5>
                            <span class="lead iq-tw-6">support@appino.com</span>
                            <p class="iq-mb-0">24 X 7 online support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- full-contact END -->

  <% include ./partials/footer %>